.header {
    display: flex;
}

.header .header-text {
    align-self: center;
    padding-left: 15px;
}

.header-color {
    color: #f28080;
}

img {
    height: 60px;
    align-self: center;

}

h2 {
    padding-left: 0px;
    margin-top: 0;
    padding-top: 0;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.slider {
    position: absolute;
    border-radius: 20%;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 2px solid #f28080;
}

/* On mouse-over, add #974040 background color */
.container:hover input~.slider {
    background-color: #974040;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.slider {
    background-color: #f28080;
}

;
}

/* Create the checkmark/indicator (hidden when not checked) */
.slider:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.slider:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid rgb(195, 6, 6);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}